<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Atom</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:41:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Atom</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Atom</string>
				</dict>
			</dict>
			<key>Bash_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:41:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Shortcuts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Shortcuts</string>
				</dict>
			</dict>
			<key>CSS_Named_Colors</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:00Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Named Colors</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Named_Colors</string>
				</dict>
			</dict>
			<key>Chrome_Dev_Tools</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:41:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Chrome Dev Tools</string>
					</array>
					<key>name</key>
					<string>Chrome Developer Tools</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Chrome_Dev_Tools</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:00Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Subversion</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>git-svn</string>
						<string>git svn</string>
						<string>git_svn</string>
						<string>Git_Subversion</string>
						<string>git-subversion</string>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Subversion</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Subversion</string>
				</dict>
			</dict>
			<key>HTML_Entities</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Entities</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Entities</string>
				</dict>
			</dict>
			<key>HTML_Head_Elements</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Head Elements</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Head_Elements</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>Java_Lambda_Syntax</key>
			<dict>
				<key>date</key>
				<date>2020-04-14T21:30:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Java Lambda Syntax</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Java_Lambda_Syntax</string>
				</dict>
			</dict>
			<key>MIME_Types</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>MIME Types</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>MIME_Types</string>
				</dict>
			</dict>
			<key>Mac_Startup_Keys</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>mac os x startup keys</string>
						<string>macosx startup keys</string>
					</array>
					<key>name</key>
					<string>Mac Startup Keys</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Mac_Startup_Keys</string>
				</dict>
			</dict>
			<key>Python_Debugger</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:10:41Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python Debugger</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Python_Debugger</string>
				</dict>
			</dict>
			<key>Python_Format_Strings</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:10:41Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python Format Strings</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Python_Format_Strings</string>
				</dict>
			</dict>
			<key>Python_unittest_Assertions</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:10:41Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python unittest Assertions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Python_unittest_Assertions</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Sublime_Text_3</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Sublime Text 3</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Sublime_Text_3</string>
				</dict>
			</dict>
			<key>Visual_Studio_Code</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:09Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Visual Studio Code</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Visual_Studio_Code</string>
				</dict>
			</dict>
			<key>iPython_Notebook</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:10:41Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>IPython Notebook</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iPython_Notebook</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2020-04-26T02:54:42Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:42:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node package manager</string>
						<string>nodejs package manager</string>
						<string>node.js package manager</string>
					</array>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>jupyter/jupyter</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:53:01Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jupyter/jupyter</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>jupyter/jupyter</string>
				</dict>
			</dict>
			<key>jupyter/notebook</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:53:00Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jupyter/notebook</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>jupyter/notebook</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHighlightedWebViewTextSizeMultiplier</key>
	<real>1</real>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>maven:maven</key>
			<dict>
				<key>date</key>
				<date>2020-04-26T02:55:36Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>maven:maven</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>maven:maven</string>
				</dict>
			</dict>
			<key>org.apache.commons:commons-text</key>
			<dict>
				<key>date</key>
				<date>2020-04-14T21:31:45Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>org.apache.commons:commons-text</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>org.apache.commons:commons-text</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>AngularJS_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>google angularjs</string>
						<string>google angular.js</string>
					</array>
					<key>name</key>
					<string>AngularJS (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>AngularJS_Online</string>
				</dict>
			</dict>
			<key>C_Sharp_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:37Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>C# (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>C_Sharp_Online</string>
				</dict>
			</dict>
			<key>DOM_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:30Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>dom events</string>
					</array>
					<key>name</key>
					<string>DOM (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>DOM_Online</string>
				</dict>
			</dict>
			<key>Docker_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Docker_Online</string>
				</dict>
			</dict>
			<key>Express_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:27Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>expressjs</string>
						<string>nodejs</string>
						<string>node.js</string>
						<string>express.js</string>
					</array>
					<key>name</key>
					<string>Express (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Express_Online</string>
				</dict>
			</dict>
			<key>HTML_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:24Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Online</string>
				</dict>
			</dict>
			<key>Java_SE_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:52:44Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Java SE (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Java_SE_Online</string>
				</dict>
			</dict>
			<key>KnockoutJS_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:52:37Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>knockout.js</string>
					</array>
					<key>name</key>
					<string>KnockoutJS (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>KnockoutJS_Online</string>
				</dict>
			</dict>
			<key>Lo-Dash_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:52:35Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>lodash</string>
					</array>
					<key>name</key>
					<string>Lo-Dash (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Lo-Dash_Online</string>
				</dict>
			</dict>
			<key>Mac_OS_X_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:52:35Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>leopard</string>
						<string>snow leopard</string>
						<string>lion</string>
						<string>mountain lion</string>
						<string>mavericks</string>
						<string>10.8</string>
						<string>10.6</string>
						<string>10.7</string>
						<string>10.9</string>
						<string>10.5</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa</string>
						<string>objective-c</string>
						<string>objc</string>
						<string>objective c</string>
						<string>macosx</string>
						<string>mac osx</string>
					</array>
					<key>name</key>
					<string>Mac OS X (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Mac_OS_X_Online</string>
				</dict>
			</dict>
			<key>Markdown_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:52:35Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Markdown (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Markdown_Online</string>
				</dict>
			</dict>
			<key>MomentJS_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:52:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>moment.js</string>
						<string>nodejs</string>
						<string>node.js</string>
					</array>
					<key>name</key>
					<string>MomentJS (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>MomentJS_Online</string>
				</dict>
			</dict>
			<key>MySQL_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:52:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>MySQL (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>MySQL_Online</string>
				</dict>
			</dict>
			<key>NET_Framework_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:05Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Microsoft .NET Framework</string>
						<string>C#</string>
						<string>f#</string>
						<string>vb</string>
						<string>visual basic</string>
						<string>visualbasic</string>
					</array>
					<key>name</key>
					<string>.NET Framework (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>NET_Framework_Online</string>
				</dict>
			</dict>
			<key>NodeJS_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:58Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node.js</string>
					</array>
					<key>name</key>
					<string>NodeJS (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>NodeJS_Online</string>
				</dict>
			</dict>
			<key>Pandas_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>python</string>
					</array>
					<key>name</key>
					<string>Pandas (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Pandas_Online</string>
				</dict>
			</dict>
			<key>PrototypeJS_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:55Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>prototype.js</string>
					</array>
					<key>name</key>
					<string>PrototypeJS (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>PrototypeJS_Online</string>
				</dict>
			</dict>
			<key>Python_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Python_Online</string>
				</dict>
			</dict>
			<key>React_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:52Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>react.js</string>
						<string>reactjs</string>
					</array>
					<key>name</key>
					<string>React (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>React_Online</string>
				</dict>
			</dict>
			<key>Redis_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Redis (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Redis_Online</string>
				</dict>
			</dict>
			<key>RequireJS_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>require.js</string>
					</array>
					<key>name</key>
					<string>RequireJS (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>RequireJS_Online</string>
				</dict>
			</dict>
			<key>Rust_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Rust (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Rust_Online</string>
				</dict>
			</dict>
			<key>Scala_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Scala (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Scala_Online</string>
				</dict>
			</dict>
			<key>TypeScript_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:51:43Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>javascript</string>
					</array>
					<key>name</key>
					<string>TypeScript (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>TypeScript_Online</string>
				</dict>
			</dict>
			<key>jQuery_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:52:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>jQuery (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>jQuery_Online</string>
				</dict>
			</dict>
			<key>jQuery_UI_Online</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:52:39Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>jQuery UI (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>jQuery_UI_Online</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Apache_Commons_Collections</key>
			<dict>
				<key>date</key>
				<date>2020-04-14T21:30:58Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>java</string>
						<string>collection</string>
						<string>list</string>
						<string>apache</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Apache_Commons_Collections#readme</string>
					<key>authorLinkText</key>
					<string>Rain Wu</string>
					<key>name</key>
					<string>Apache Commons Collections</string>
					<key>platform</key>
					<string>usercontribApache_Commons_Collections</string>
					<key>uniqueIdentifier</key>
					<string>Apache_Commons_Collections</string>
				</dict>
			</dict>
			<key>Google_App_Engine-Python</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:11:08Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Google App Engine Python</string>
						<string>AppEngine</string>
						<string>Google Cloud</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Google_App_Engine-Python#readme</string>
					<key>authorLinkText</key>
					<string>TZ Martin</string>
					<key>name</key>
					<string>Google App Engine - Python</string>
					<key>platform</key>
					<string>usercontribGoogle_App_Engine-Python</string>
					<key>uniqueIdentifier</key>
					<string>Google_App_Engine-Python</string>
				</dict>
			</dict>
			<key>NetworkX</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:10:58Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/NetworkX#readme</string>
					<key>authorLinkText</key>
					<string>AllanLRH</string>
					<key>name</key>
					<string>NetworkX</string>
					<key>platform</key>
					<string>usercontribNetworkX</string>
					<key>uniqueIdentifier</key>
					<string>NetworkX</string>
				</dict>
			</dict>
			<key>Spring_Boot</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:53:20Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Spring_Boot#readme</string>
					<key>authorLinkText</key>
					<string>maenujem</string>
					<key>name</key>
					<string>Spring Boot</string>
					<key>platform</key>
					<string>usercontribSpring_Boot</string>
					<key>uniqueIdentifier</key>
					<string>Spring_Boot</string>
				</dict>
			</dict>
			<key>iPython</key>
			<dict>
				<key>date</key>
				<date>2020-05-06T18:27:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>IPython</string>
						<string>Interactive Python</string>
						<string>iPython notebook</string>
						<string>ipynb</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/iPython#readme</string>
					<key>authorLinkText</key>
					<string>Aziz Alto</string>
					<key>name</key>
					<string>IPython</string>
					<key>platform</key>
					<string>usercontribiPython</string>
					<key>uniqueIdentifier</key>
					<string>iPython</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Bash Shortcuts/Bash_Shortcuts.docset</key>
			<string>bash:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Java Lambda Syntax/Java_Lambda_Syntax.docset</key>
			<string>l:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/Mac Startup Keys/Mac_Startup_Keys.docset</key>
			<string>mac:</string>
			<key>~/Library/Application Support/Dash/Cheat Sheets/iTerm2/iTerm2.docset</key>
			<string>it:</string>
			<key>~/Library/Application Support/Dash/DocSets/Docker/Docker.docset</key>
			<string>d:</string>
			<key>~/Library/Application Support/Dash/DocSets/Java_SE12/Java.docset</key>
			<string>jse:</string>
			<key>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</key>
			<string>man:</string>
			<key>~/Library/Application Support/Dash/DocSets/Markdown/Markdown.docset</key>
			<string>md</string>
			<key>~/Library/Application Support/Dash/DocSets/MatPlotLib/Matplotlib.docset</key>
			<string>mpl</string>
			<key>~/Library/Application Support/Dash/DocSets/NumPy/NumPy.docset</key>
			<string>np:</string>
			<key>~/Library/Application Support/Dash/DocSets/Pandas/Pandas.docset</key>
			<string>pd</string>
			<key>~/Library/Application Support/Dash/DocSets/Python_3/Python 3.docset</key>
			<string>py3:</string>
			<key>~/Library/Application Support/Dash/DocSets/SciPy/SciPy.docset</key>
			<string>sp</string>
			<key>~/Library/Application Support/Dash/DocSets/Spring_Framework/Spring Framework.docset</key>
			<string>sp:</string>
			<key>~/Library/Application Support/Dash/GitHub/jupyterjupyter/jupyter-jupyter.docset</key>
			<string>jgithub:</string>
			<key>~/Library/Application Support/Dash/GitHub/jupyternotebook/jupyter-notebook.docset</key>
			<string>ju:</string>
			<key>~/Library/Application Support/Dash/User Contributed/NetworkX/networkx.docset</key>
			<string>nx:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Spring Boot/Spring_Boot.docset</key>
			<string>sb</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/Python 3 - DHDocsetDownloader/3-8-0/Python 3.docset</key>
			<string>py3:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:10:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:16:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Gradle_DSL.xml</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:56:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Gradle_User_Guide.xml</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:56:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE12.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-10T22:41:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:10:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-26T02:53:51Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MatPlotLib.xml</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:12:28Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NET_Framework.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-26T02:53:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NumPy.xml</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:10:58Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Pandas.xml</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:11:59Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-26T02:54:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SciPy.xml</key>
			<dict>
				<key>date</key>
				<date>2020-03-16T19:11:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Spring_Framework.xml</key>
			<dict>
				<key>date</key>
				<date>2020-06-08T17:53:27Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/SQLAlchemy.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-07T17:07:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/VueJS.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-26T02:54:26Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<false/>
	<key>menuIconBehavior</key>
	<integer>1</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>homepage</key>
			<string>file://~/Library/Application%20Support/Dash/Cheat%20Sheets/iTerm2/iTerm2.docset/Contents/Resources/Documents/index.html#//dash_ref_Editing/Entry/Autocomplete/0</string>
			<key>icon</key>
			<string>settings2</string>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>placeholder</key>
			<string>a</string>
			<key>searchSnippets</key>
			<false/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"a:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>a:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array/>
			<key>icon</key>
			<string>NewSnippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>s</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"s:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>s:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Java_SE12/Java.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/Java Lambda Syntax/Java_Lambda_Syntax.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/Visual Studio Code/Visual_Studio_Code.docset</string>
				<string>~/Library/Application Support/Dash/Stack Overflow/Java SE Online/Java_SE_Online.docset</string>
			</array>
			<key>icon</key>
			<string>java</string>
			<key>name</key>
			<string>Java</string>
			<key>placeholder</key>
			<string>j</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"j:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>j:</string>
				</dict>
				<dict>
					<key>description</key>
					<string>The "Browse Documentation" navigator tab is selected</string>
					<key>identifier</key>
					<string>documentation</string>
					<key>isTabTrigger</key>
					<true/>
				</dict>
				<dict>
					<key>description</key>
					<string>"⌃⌥⌘J" is pressed</string>
					<key>image</key>
					<string>keyboardIcon</string>
					<key>isHotKeyTrigger</key>
					<true/>
					<key>keyCombo</key>
					<dict>
						<key>keyCode</key>
						<integer>38</integer>
						<key>modifiers</key>
						<integer>6400</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/Versioned DocSets/Python 3 - DHDocsetDownloader/3-8-0/Python 3.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Pandas/Pandas.docset</string>
				<string>~/Library/Application Support/Dash/GitHub/jupyterjupyter/jupyter-jupyter.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/IPython Notebook/iPython_Notebook.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/Python Format Strings/Python_Format_Strings.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/Python unittest Assertions/Python_unittest_Assertions.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/NumPy/NumPy.docset</string>
			</array>
			<key>icon</key>
			<string>python</string>
			<key>name</key>
			<string>Python</string>
			<key>placeholder</key>
			<string>py</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"py:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>py:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/Versioned DocSets/NET Framework - DHDocsetDownloader/4-7-2/NET Framework.docset</string>
				<string>~/Library/Application Support/Dash/Stack Overflow/Mac OS X Online/Mac_OS_X_Online.docset</string>
				<string>~/Library/Application Support/Dash/Stack Overflow/C Online/C_Sharp_Online.docset</string>
				<string>~/Library/Application Support/Dash/Stack Overflow/TypeScript Online/TypeScript_Online.docset</string>
			</array>
			<key>icon</key>
			<string>c</string>
			<key>name</key>
			<string>CS</string>
			<key>placeholder</key>
			<string>cs</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"cs:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>cs:</string>
				</dict>
				<dict>
					<key>description</key>
					<string>"⌃⌥⌘C" is pressed</string>
					<key>image</key>
					<string>keyboardIcon</string>
					<key>isHotKeyTrigger</key>
					<true/>
					<key>keyCombo</key>
					<dict>
						<key>keyCode</key>
						<integer>8</integer>
						<key>modifiers</key>
						<integer>6400</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Spotify</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"⌃⌥⌘P" is pressed</string>
					<key>image</key>
					<string>keyboardIcon</string>
					<key>isHotKeyTrigger</key>
					<true/>
					<key>keyCombo</key>
					<dict>
						<key>keyCode</key>
						<integer>35</integer>
						<key>modifiers</key>
						<integer>6400</integer>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>2</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<false/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showDisabledDocsets</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>snippetEditorFontSize</key>
	<real>11</real>
	<key>sortDocsetsAlphabetically</key>
	<false/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/NET_Framework.xml</key>
			<dict>
				<key>4.7.2</key>
				<dict>
					<key>date</key>
					<date>2020-03-20T19:15:28Z</date>
				</dict>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>3.8.0</key>
				<dict>
					<key>date</key>
					<date>2020-03-16T19:10:57Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
</dict>
</plist>
