<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Bash_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2019-12-07T17:07:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Shortcuts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Shortcuts</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2019-12-07T17:07:38Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Python_Debugger</key>
			<dict>
				<key>date</key>
				<date>2019-12-04T15:51:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python Debugger</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Python_Debugger</string>
				</dict>
			</dict>
			<key>Python_Format_Strings</key>
			<dict>
				<key>date</key>
				<date>2019-12-04T15:51:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python Format Strings</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Python_Format_Strings</string>
				</dict>
			</dict>
			<key>Python_unittest_Assertions</key>
			<dict>
				<key>date</key>
				<date>2019-12-04T15:51:05Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python unittest Assertions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Python_unittest_Assertions</string>
				</dict>
			</dict>
			<key>iPython_Notebook</key>
			<dict>
				<key>date</key>
				<date>2019-12-04T15:51:06Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>IPython Notebook</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iPython_Notebook</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>jupyter/jupyter</key>
			<dict>
				<key>date</key>
				<date>2020-02-09T21:11:27Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jupyter/jupyter</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>jupyter/jupyter</string>
				</dict>
			</dict>
			<key>jupyter/notebook</key>
			<dict>
				<key>date</key>
				<date>2020-02-22T17:55:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jupyter/notebook</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>jupyter/notebook</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHighlightedWebViewTextSizeMultiplier</key>
	<real>1.2000000476837158</real>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>Python_Online</key>
			<dict>
				<key>date</key>
				<date>2019-12-04T11:57:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Python (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Python_Online</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Google_App_Engine-Python</key>
			<dict>
				<key>date</key>
				<date>2019-12-11T20:03:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Google App Engine Python</string>
						<string>AppEngine</string>
						<string>Google Cloud</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Google_App_Engine-Python#readme</string>
					<key>authorLinkText</key>
					<string>TZ Martin</string>
					<key>name</key>
					<string>Google App Engine - Python</string>
					<key>platform</key>
					<string>usercontribGoogle_App_Engine-Python</string>
					<key>uniqueIdentifier</key>
					<string>Google_App_Engine-Python</string>
				</dict>
			</dict>
			<key>NetworkX</key>
			<dict>
				<key>date</key>
				<date>2019-12-08T20:48:44Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/NetworkX#readme</string>
					<key>authorLinkText</key>
					<string>AllanLRH</string>
					<key>name</key>
					<string>NetworkX</string>
					<key>platform</key>
					<string>usercontribNetworkX</string>
					<key>uniqueIdentifier</key>
					<string>NetworkX</string>
				</dict>
			</dict>
			<key>iPython</key>
			<dict>
				<key>date</key>
				<date>2019-12-11T20:03:43Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>IPython</string>
						<string>Interactive Python</string>
						<string>iPython notebook</string>
						<string>ipynb</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/iPython#readme</string>
					<key>authorLinkText</key>
					<string>Aziz Alto</string>
					<key>name</key>
					<string>IPython</string>
					<key>platform</key>
					<string>usercontribiPython</string>
					<key>uniqueIdentifier</key>
					<string>iPython</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>annotationsAreShown</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/MatPlotLib/Matplotlib.docset</key>
			<string>mpl</string>
			<key>~/Library/Application Support/Dash/DocSets/NumPy/NumPy.docset</key>
			<string>n</string>
			<key>~/Library/Application Support/Dash/DocSets/Pandas/Pandas.docset</key>
			<string>pd</string>
			<key>~/Library/Application Support/Dash/DocSets/SciPy/SciPy.docset</key>
			<string>sp</string>
			<key>~/Library/Application Support/Dash/GitHub/jupyterjupyter/jupyter-jupyter.docset</key>
			<string>jgithub:</string>
			<key>~/Library/Application Support/Dash/GitHub/jupyternotebook/jupyter-notebook.docset</key>
			<string>j:</string>
			<key>~/Library/Application Support/Dash/User Contributed/NetworkX/networkx.docset</key>
			<string>nx:</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/Python 3 - DHDocsetDownloader/3-8-0/Python 3.docset</key>
			<string>py:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-07T17:04:48Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-07T17:05:59Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-07T17:06:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MatPlotLib.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-01T17:11:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NumPy.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-01T17:11:07Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Pandas.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-01T17:11:07Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SciPy.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-01T17:11:20Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/SQLAlchemy.xml</key>
			<dict>
				<key>date</key>
				<date>2019-12-07T17:07:02Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>menuIconBehavior</key>
	<integer>1</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>placeholder</key>
			<string></string>
			<key>searchSnippets</key>
			<false/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"⌥⌘P" is pressed</string>
					<key>image</key>
					<string>keyboardIcon</string>
					<key>isHotKeyTrigger</key>
					<true/>
					<key>keyCombo</key>
					<dict>
						<key>keyCode</key>
						<integer>35</integer>
						<key>modifiers</key>
						<integer>2304</integer>
					</dict>
				</dict>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/Versioned DocSets/Python 3 - DHDocsetDownloader/3-8-0/Python 3.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Pandas/Pandas.docset</string>
				<string>~/Library/Application Support/Dash/GitHub/jupyterjupyter/jupyter-jupyter.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/IPython Notebook/iPython_Notebook.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/NetworkX/networkx.docset</string>
				<string>~/Library/Application Support/Dash/GitHub/jupyternotebook/jupyter-notebook.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/Python Format Strings/Python_Format_Strings.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/Python unittest Assertions/Python_unittest_Assertions.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/MatPlotLib/Matplotlib.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/NumPy/NumPy.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/SciPy/SciPy.docset</string>
			</array>
			<key>name</key>
			<string>All Python</string>
			<key>placeholder</key>
			<string>p</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifiers</key>
		<integer>2048</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>2</integer>
		<key>modifiers</key>
		<integer>2304</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<false/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showDisabledDocsets</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>snippetEditorFontSize</key>
	<real>11</real>
	<key>sortDocsetsAlphabetically</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>3.8.0</key>
				<dict>
					<key>date</key>
					<date>2019-11-24T23:06:28Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
</dict>
</plist>
